body {
  background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
}

h1 {
  color: #474f85;
}

h3 {
  color: #66bfbf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 7px;
  width: 5%;
}
